<header class="header">
  <div class="header__warning-inner">
    <ul class="header__warning-list list-reset">
      <li class="header__warning-list-item header__warning-list-item--item-one">
        <span class="header__warning-item header__warning-item--icon header__warning-item--color-text">
          You are not protected
        </span>
      </li>
      <li class="header__warning-list-item header__warning-list-item--item-two">
        <span class="header__warning-item">
          Your IP Address: 107.3.176.194
        </span>
      </li>
      <li class="header__warning-list-item header__warning-list-item--item-three">
        <span class="header__warning-item">
          Your ISP: Comcast Cable
        </span>
      </li>
      <li class="header__warning-list-item header__warning-list-item--item-four">
        <a class="header__warning-item header__warning-item--link" href="#">
          Learn More ›
        </a>
      </li>
    </ul>
    <button class="header__warning-btn btn-reset" type="button"></button>
  </div>
  <div class="container">


    <nav class="header__nav">
      <a class="header__logo" href="#">
        <img class="logo" src="img/header-logo.svg" width="136" alt="site logo">
      </a>

      <button class="burger">
        <span class="sr-only">go to menu</span>
        <span class="burger__line"></span>
      </button>
      <div class="menu__list header__nav-list btn-group">
        <button class="menu__item header__list-btn btn-reset dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          why us
        </button>
        <a class="menu__link animation header__list-btn header__list-btn--one-link" href="#">vpn apps</a>
        <div class="dropdown-menu">
          <a class="menu__link animation dropdown-item" href="#">why us</a>
        </div>
        <button class="header__list-btn btn-reset dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          support
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">why us</a>
        </div>
        <button class="header__list-btn btn-reset dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          resourses
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">why us</a>
        </div>
        <a class="header__btn-login--inside-menu" href="#">log in</a>
      </div>

      <div class="header__btns">
        <a class="header__btn-login" href="#">log in</a>
        <a class="header__btn-started" href="#">get started</a>
      </div>
    </nav>


  </div>
</header>
