<section class="hero">
  <div class="container">


    <article class="hero__inner">
      <a class="hero__article-link" href="#">
        <img class="hero__image" src="img/hero-img.jpg" alt="photo of tv remote in hand">
        <div class="hero__right-side">
          <h4 class="hero__title">
            TV&nbsp;Addons: Legal battle against Canadian media giants demonstrates severe consequences facing
            developers
            accused of&nbsp;copyright infringement
          </h4>
          <div class="hero__author-inner">
            <span class="hero__author">Danica Sergison</span>
            <time class="hero__author-date">jul 08, 2018</time>
          </div>
          <span class="hero__item-tags">Copyright, News, Open Source, Privacy</span>
          <span class="hero__feed hero__feed--icon">0</span>
        </div>
      </a>
    </article>

    <div class="hero__tags-inner">
      <ul class="hero__tag-list list-reset">
        <li class="hero__list-item">
          <span class="hero__list-tag hero__list-tag--other">tags:</span>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-tag" href="#">bitcoin</a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-tag" href="#">bittorrent</a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-tag" href="#">irc</a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-tag" href="#">news</a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-tag" href="#">privacy</a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-tag" href="#">programming</a>
        </li>
        <li class="hero__list-item">
          <a class="hero__list-tag" href="#">security</a>
        </li>
      </ul>
      <div class="hero__team-contacts">
        <a class="hero__team-link" href="#">team</a>
        <a class="hero__contact-link" href="#">contact</a>
      </div>
    </div>


  </div>
</section>
