<section class="posts">
  <div class="container">


    <div class="posts__top-inner">
      <h3 class="posts__title-top">Recent posts</h3>
      <form class="posts__form">
        <label class="posts__label">
          <input class="posts__search" placeholder="Search blog" type="search">
        </label>
      </form>
    </div>

    <div class="posts__inner">
      <div class="posts__left-side">
        <ul class="posts__list list-reset">
          <li class="posts__list-item">
            <article class="posts__item posts__item--first">
              <a class="posts__article-link" href="#">
                <img class="posts__image" src="img/internet-img.jpg" width="280" alt="photo of internet servers">
                <div class="posts__right-side posts__right-side--bottom">
                  <h4 class="posts__title">
                    The Internet Cannot be&nbsp;Trusted&nbsp;&mdash; Beamsplitters, Backdoors, and Broken Promises
                  </h4>
                  <div class="posts__author-inner">
                    <span class="posts__author">Derek Zimmer</span>
                    <time class="posts__author-date">jul 25, 2018</time>
                  </div>
                  <span class="posts__item-tags">Governments, Networking, Open Source, Privacy, Security</span>
                  <span class="posts__feed posts__feed--icon">0</span>
                </div>
              </a>
            </article>
          </li>

          <li class="posts__list-item">
            <article class="posts__item">
              <a class="posts__article-link" href="#">
                <img class="posts__image" src="img/flying-img.jpg" width="280" alt="image Green airplane 3d model">
                <div class="posts__right-side">
                  <h4 class="posts__title">
                    How to get cheaper flights using a VPN
                  </h4>
                  <div class="posts__author-inner">
                    <span class="posts__author">Jayson</span>
                    <time class="posts__author-date">jul 24, 2018</time>
                  </div>
                  <span class="posts__item-tags posts__item-tags--bigger">guides</span>
                  <span class="posts__feed posts__feed--icon">0</span>
                </div>
              </a>
            </article>
          </li>

          <li class="posts__list-item posts__list-item--three">
            <article class="posts__item">
              <a class="posts__article-link" href="#">
                <img class="posts__image" src="img/neutrality-img.jpg" width="280" alt="photo of internet">
                <div class="posts__right-side">
                  <h4 class="posts__title">
                    Net Neutrality was repealed, but the fight<br>is far from over
                  </h4>
                  <div class="posts__author-inner">
                    <span class="posts__author">Chris Miller</span>
                    <time class="posts__author-date">jul 22, 2018</time>
                  </div>
                  <span class="posts__item-tags">Governments, Net Neutrality, News</span>
                  <span class="posts__feed posts__feed--icon">0</span>
                </div>
              </a>
            </article>
          </li>

          <li class="posts__list-item posts__list-item--small-off">
            <article class="posts__item">
              <a class="posts__article-link" href="#">
                <img class="posts__image" src="img/internet-img.jpg" width="280" alt="photo of internet servers">
                <div class="posts__right-side">
                  <h4 class="posts__title">
                    The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
                  </h4>
                  <div class="posts__author-inner">
                    <span class="posts__author">Derek Zimmer</span>
                    <time class="posts__author-date">jul 25, 2018</time>
                  </div>
                  <span class="posts__item-tags">Governments, Networking, Open Source, Privacy, Security</span>
                  <span class="posts__feed posts__feed--icon">0</span>
                </div>
              </a>
            </article>
          </li>

          <li class="posts__list-item posts__list-item--small-off">
            <article class="posts__item">
              <a class="posts__article-link" href="#">
                <img class="posts__image" src="img/flying-img.jpg" width="280" alt="image Green airplane 3d model">
                <div class="posts__right-side">
                  <h4 class="posts__title">
                    How to get cheaper flights using a VPN
                  </h4>
                  <div class="posts__author-inner">
                    <span class="posts__author">Jayson</span>
                    <time class="posts__author-date">jul 24, 2018</time>
                  </div>
                  <span class="posts__item-tags posts__item-tags--bigger">guides</span>
                  <span class="posts__feed posts__feed--icon">0</span>
                </div>
              </a>
            </article>
          </li>

          <li class="posts__list-item posts__list-item--small-off">
            <article class="posts__item">
              <a class="posts__article-link" href="#">
                <img class="posts__image" src="img/neutrality-img.jpg" width="280" alt="photo of internet">
                <div class="posts__right-side">
                  <h4 class="posts__title">
                    Net Neutrality was repealed, but the fight is far from over
                  </h4>
                  <div class="posts__author-inner">
                    <span class="posts__author">Chris Miller</span>
                    <time class="posts__author-date">jul 22, 2018</time>
                  </div>
                  <span class="posts__item-tags">Governments, Net Neutrality, News</span>
                  <span class="posts__feed posts__feed--icon">0</span>
                </div>
              </a>
            </article>
          </li>
          <li class="posts__list-item posts__list-item--bottom-btn">
            <button class="posts__older-post-btn btn-reset" type="button">older posts</button>
          </li>
        </ul>
      </div>


      <div class="posts__aside-right-side">
        <aside class="posts__aside">
          <h4 class="posts__aside-title posts__aside-title--announce">Announcements</h4>
          <ul class="posts__aside-list-top list-reset">
            <li class="posts__top-item">
              <a class="posts__item-link" href="#">
                Upcoming Changes (Live Chat, Less Censorship, More Access)
              </a>
            </li>
            <li class="posts__top-item">
              <a class="posts__item-link" href="#">
                New Servers (US Washington DC)
              </a>
            </li>
            <li class="posts__top-item">
              <a class="posts__item-link" href="#">
                New Servers (US Denver)
              </a>
            </li>
            <li class="posts__top-item">
              <a class="posts__item-link" href="#">
                Open Source: Releasing the PIA iOS Client
              </a>
            </li>
            <li class="posts__top-item">
              <a class="posts__item-link" href="#">
                Opera Extension is now available
              </a>
            </li>
          </ul>

          <h4 class="posts__aside-title posts__aside-title--popular">Popular posts</h4>
          <ul class="posts__aside-list-bottom list-reset">
            <li class="posts__bottom-item">
              <a class="posts__item-link" href="#">
                The Gift of Privacy
              </a>
            </li>
            <li class="posts__bottom-item">
              <a class="posts__item-link" href="#">
                UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
              </a>
            </li>
            <li class="posts__bottom-item">
              <a class="posts__item-link" href="#">
                About the PIA Client Security and VPN Security in General
              </a>
            </li>
            <li class="posts__bottom-item">
              <a class="posts__item-link" href="#">
                A Private Net Is Just As Fundamental A Right As Freedom Of Speech
              </a>
            </li>
            <li class="posts__bottom-item">
              <a class="posts__item-link" href="#">
                Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie
              </a>
            </li>
          </ul>

          <a class="posts__aside-bottom-banner" href="#">
            <img class="posts__brother-image" src="img/aside-big-brother.jpg" width="340"
              alt="aside poster private internetacces">
          </a>

          <h4 class="posts__aside-title posts__aside-title--cloud">Tag cloud</h4>
          <div class="posts__aside-cloud-inner">
            <ul class="cloud list-reset" role="navigation" aria-label="Webdev tag cloud">
              <li><a data-weight="2" href="/tag/mass">mass</a></li>
              <li><a data-weight="2" href="/tag/surveillance">surveillance</a></li>
              <li><a data-weight="2" href="/tag/internet">internet</a></li>
              <li><a data-weight="2" href="/tag/privacy">privacy</a></li>
              <li><a data-weight="3" href="/tag/china">china</a></li>
              <li><a data-weight="1" href="/tag/whatsapp">whatsapp</a></li>
              <li><a data-weight="1" href="/tag/police">police</a></li>
              <li><a data-weight="1" href="/tag/dna">dna</a></li>
              <li><a data-weight="3" href="/tag/nsa">nsa</a></li>
              <li><a data-weight="7" href="/tag/ukraine">Ukraine</a></li>
              <li><a data-weight="1" href="/tag/gchq">gchq</a></li>
              <li><a data-weight="2" href="/tag/internet">internet</a></li>
              <li><a data-weight="1" href="/tag/censorship">censorship</a></li>
              <li><a data-weight="1" href="/tag/facial">facial</a></li>
              <li><a data-weight="1" href="/tag/recognition">recognition</a></li>
              <li><a data-weight="3" href="/tag/isp">isp</a></li>
              <li><a data-weight="1" href="/tag/Apple">Apple</a></li>
              <li><a data-weight="4" href="/tag/united">united</a></li>
              <li><a data-weight="4" href="/tag/kingdom">kingdom</a></li>
              <li><a data-weight="1" href="/tag/amazon">amazon</a></li>
              <li><a data-weight="1" href="/tag/metadata">metadata</a></li>
              <li><a data-weight="1" href="/tag/turkey">turkey</a></li>
              <li><a data-weight="3" href="/tag/vpn">vpn</a></li>
              <li><a data-weight="1" href="/tag/tracking">tracking</a></li>
              <li><a data-weight="1" href="/tag/broadband">broadband</a></li>
              <li><a data-weight="1" href="/tag/privacy">privacy</a></li>
              <li><a data-weight="2" href="/tag/canada">canada</a></li>
              <li><a data-weight="2" href="/tag/encryption">encryption</a></li>
              <li><a data-weight="1" href="/tag/Twitter">Twitter</a></li>
              <li><a data-weight="1" href="/tag/uk">uk</a></li>
              <li><a data-weight="4" href="/tag/surveillance">surveillance</a></li>
              <li><a data-weight="3" href="/tag/EU">EU</a></li>
              <li><a data-weight="3" href="/tag/Facebook">Facebook</a></li>
              <li><a data-weight="2" href="/tag/india">india</a></li>
              <li><a data-weight="1" href="/tag/freedomOfExpression">freedom of expression</a></li>
              <li><a data-weight="2" href="/tag/ajit pai">ajit pai</a></li>
              <li><a data-weight="2" href="/tag/bitcoin">bitcoin</a></li>
              <li><a data-weight="1" href="/tag/internet">internet</a></li>
              <li><a data-weight="1" href="/tag/history">history</a></li>
              <li><a data-weight="1" href="/tag/gdpr">gdpr</a></li>
              <li><a data-weight="1" href="/tag/microsoft">microsoft</a></li>
              <li><a data-weight="7" href="/tag/fcc">fcc</a></li>
              <li><a data-weight="2" href="/tag/censorship">censorship</a></li>
              <li><a data-weight="1" href="/tag/germany">germany</a></li>
              <li><a data-weight="1" href="/tag/fileSharing">file sharing</a></li>
              <li><a data-weight="7" href="/tag/privacy">privacy</a></li>
              <li><a data-weight="2" href="/tag/copyright">copyright</a></li>
              <li><a data-weight="1" href="/tag/anonymity">anonymity</a></li>
              <li><a data-weight="1" href="/tag/internetOfThings">internet of things</a></li>
              <li><a data-weight="6" href="/tag/google">google</a></li>
              <li><a data-weight="2" href="/tag/australia">australia</a></li>
              <li><a data-weight="2" href="/tag/net">net</a></li>
              <li><a data-weight="2" href="/tag/neutrality">neutrality</a></li>
            </ul>
          </div>

        </aside>
      </div>
    </div>


  </div>
</section>
