<section class="sign">
  <div class="container">


    <h3 class="sign__title">
      Sign up today – 7 day money back guarantee
    </h3>
    <ul class="sign__rate-list list-reset">
      <li class="sign__rate-item sign__rate-item--left">
        <h5 class="sign__rate-subtitle">monthly</h5>
        <span class="sign__green-line"></span>
        <div class="sign__payment sign__payment--left-item">
          <span class="sign__price-dollar">6.95</span>
          <span class="sign__price-month">/mo.</span>
        </div>
        <span class="sign__payment-descr">Includes all VPN features.</span>
        <a class="sign__sign-btn" href="#">sign up</a>
      </li>

      <li class="sign__rate-item sign__rate-item--center">
        <h5 class="sign__rate-subtitle">two years</h5>
        <span class="sign__green-line"></span>
        <div class="sign__payment">
          <span class="sign__price-dollar">2.91</span>
          <span class="sign__price-month">/mo.</span>
        </div>
        <div class="sign__payment-descr-inner">
          <span class="sign__payment-text sign__payment-text--old-price">$166.80</span>
          <span class="sign__payment-text sign__payment-text--new-price">$69.95 per two years</span>
        </div>
        <span class="sign__payment-descr sign__payment-descr--save">Save 58%*</span>
        <a class="sign__sign-btn sign__sign-btn--btn-center" href="#">sign up</a>
      </li>

      <li class="sign__rate-item sign__rate-item--right">
        <h5 class="sign__rate-subtitle">yearly</h5>
        <span class="sign__green-line"></span>
        <div class="sign__payment sign__payment--right">
          <span class="sign__price-dollar">3.33</span>
          <span class="sign__price-month">/mo.</span>
        </div>
        <div class="sign__payment-descr-inner">
          <span class="sign__payment-text sign__payment-text--old-price">$83.40</span>
          <span class="sign__payment-text sign__payment-text--new-price">$39.95 per year</span>
        </div>
        <span class="sign__payment-descr sign__payment-descr--save-right">Save 52%*</span>
        <a class="sign__sign-btn" href="#">sign up</a>
      </li>
    </ul>


    <div class="sign__way-inner">
      <span class="sign__item-text">
        Ways to pay:
      </span>
      <ul class="sign__list list-reset">
        <li class="sign__list-item sign__list-item--logo-one">
          <a class="sign__item-link" href="#">
            <img src="img/sign-visa-icon.svg" width="100" alt="logo visa">
          </a>
        </li>
        <li class="sign__list-item sign__list-item--logo-two">
          <a class="sign__item-link" href="#">
            <img src="img/sign-mastercard-icon.svg" width="65" alt="logo mastercard">
          </a>
        </li>
        <li class="sign__list-item sign__list-item--logo-three">
          <a class="sign__item-link" href="#">
            <img src="img/sign-amex-icon.svg" width="54" alt="logo american express">
          </a>
        </li>
        <li class="sign__list-item sign__list-item--logo-four">
          <a class="sign__item-link" href="#">
            <img src="img/sign-paypal-icon.svg" width="100" alt="logo pay pal">
          </a>
        </li>
        <li class="sign__list-item sign__list-item--logo-five">
          <a class="sign__item-link" href="#">
            <img src="img/sign-bitcoin-icon.svg" width="79" alt="logo bitcoin">
          </a>
        </li>
        <li class="sign__list-item sign__list-item--logo-six">
          <a class="sign__item-link" href="#">
            <img src="img/sign-okpay-icon.svg" width="74" alt="logo ok pay">
          </a>
        </li>
        <li class="sign__list-item sign__list-item--logo-seven">
          <a class="sign__item-link" href="#">
            <img src="img/sign-amazon-icon.svg" width="120" alt="logo amazon">
          </a>
        </li>
      </ul>
    </div>


    <div class="sign__other-link">
      <a class="sign__link sign__link--arrow" href="#">How to pay anonymously</a>
      <a class="sign__link sign__link--arrow" href="#">Redeem Gift Card</a>
    </div>
  </div>
</section>
